.cm-rtx-intensify {
    background-color: #246A7355;
    color: #fff;
}

.cm-rtx-passive {
    background-color: #2AFC9855;
    color: #000;
}

.cm-rtx-profanities {
    background-color: #C4A29E55;
    color: #000;
}

.cm-rtx-readability {
    background-color: #B68CB855;
    color: #000;
}

.cm-rtx-repeated-words {
    background-color: #F038FF55;
    color: #000;
}

.cm-rtx-sentence-spacing {
    background-color: #C6CCB255;
    color: #000;
}

.cm-rtx-indefinite-article {
    background-color: #F5B0CB55;
    color: #000;
}

.cm-rtx-equality {
    background-color: #ffcc0055;
    color: #000;
}



.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}